{% extends 'base.html' %}
{% load static %}
{% block content %}

<body>
    <div class="container mt-5">
        <div class="col-md-6 bg-light p-4 rounded mx-auto">
            <h1 class="mb-4 ">O'quvchini o'chirish</h1>
            <p>O'quvchini o'chirishni xohlaysizmi?</p>
            <h2 class="text-primary">{{ student.first_name }} {{ student.last_name }}</h2>
            <p class="text-danger">Diqqat! O'shirish tugamsini bossangiz shu o'quvchi va o'quvchiga tegishli bo'lgan barcha malumotlar ham o'chib ketadi!</p>
            <form method="post" action="{% url 'deletestudent' student.id %}">
                {% csrf_token %}
                <div class="d-flex justify-content-end">
                    <a href="{% url 'students' %}" class="btn btn-secondary me-2">Bekor qilish</a>
                    <button type="submit" class="btn btn-danger">O'chirish</button>
                </div>
            </form>
        </div>
    </div>
</body>

{% endblock %}
